# PostgreSQL
POSTGRES_USER=plane
POSTGRES_PASSWORD=plane
POSTGRES_DB=plane
PGDATA=/var/lib/postgresql/data

# Redis
REDIS_HOST=plane-redis
REDIS_PORT=6379

# RabbitMQ
RABBITMQ_HOST=plane-mq
RABBITMQ_PORT=5672
RABBITMQ_USER=plane
RABBITMQ_PASSWORD=plane
RABBITMQ_VHOST=plane

# Portas
LISTEN_HTTP_PORT=80
LISTEN_HTTPS_PORT=443

# AWS S3 / MinIO
AWS_REGION=
AWS_ACCESS_KEY_ID=access-key
AWS_SECRET_ACCESS_KEY=secret-key
AWS_S3_ENDPOINT_URL=http://plane-minio:9000
AWS_S3_BUCKET_NAME=uploads
FILE_SIZE_LIMIT=5242880

# Docker
DOCKERIZED=1
USE_MINIO=1
TRUSTED_PROXIES=0.0.0.0/0

# URL base (altere para seu IP/dominio)
SITE_ADDRESS=http://192.168.0.36
CERT_EMAIL=
