DEBUG=0

# PostgreSQL
POSTGRES_USER=plane
POSTGRES_PASSWORD=plane
POSTGRES_HOST=plane-db
POSTGRES_DB=plane
POSTGRES_PORT=5432
DATABASE_URL=postgresql://plane:plane@plane-db:5432/plane

# Redis
REDIS_HOST=plane-redis
REDIS_PORT=6379
REDIS_URL=redis://plane-redis:6379/

# RabbitMQ
RABBITMQ_HOST=plane-mq
RABBITMQ_PORT=5672
RABBITMQ_USER=plane
RABBITMQ_PASSWORD=plane
RABBITMQ_VHOST=plane

# MinIO / S3
AWS_ACCESS_KEY_ID=access-key
AWS_SECRET_ACCESS_KEY=secret-key
AWS_S3_ENDPOINT_URL=http://plane-minio:9000
AWS_S3_BUCKET_NAME=uploads
FILE_SIZE_LIMIT=5242880

# Plane
DOCKERIZED=1
USE_MINIO=1
WEB_URL=http://192.168.0.36
APP_BASE_URL=http://192.168.0.36
SPACE_BASE_URL=http://192.168.0.36/spaces
ADMIN_BASE_URL=http://192.168.0.36/god-mode
GUNICORN_WORKERS=2

# Seguranca (altere em producao!)
SECRET_KEY=dummysecretkey123456789012345678901234567890
